*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #093a4a;
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
}

h1{
    font-size: 45px;
    color: aliceblue;
    text-align: center;
    margin: 20px;
} 

.box{
    width: calc(100% / 7 - 16px);
    height: 90px;
    font-size: 18px;
    background-color: #1c91b8;
    text-align: center;
    padding: 35px;
    margin: 8px;
    border: 1px solid #000;
    font-weight: 500;
}

.buzz{
    background-color: #f9cf6e;
}
.fizz{
    background-color: #13d4a1;
}
.fizzbuzz{
    background-color: #ec4b70;
    padding-left: 30px;
}